* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

#contenedor {
    max-width: 400px;
    width: 90%;
    margin: auto;
    background-color: #f7d2a3;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    color: rgb(0, 30, 49);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    padding: 0.5em 0;
    color: rgb(0, 30, 49);
}

.input-box,
.newsletter,
.btn {
    padding: 0.5em;
}

.btn {
    background-color: #f77f00;
    border-radius: 10px;
    border: 2px solid rgb(0, 30, 49);
    color: rgb(0, 30, 49);
}

.btn:hover {
    background-color: rgb(0, 30, 49);
    border-radius: 10px;
    border: 2px solid #f77f00;
    color: white;
}

.login-register {
    padding: 0.5em;
}

.input-box {
    margin-bottom: 15px;
}

.input-box input {
    width: calc(100% - 20px);
    height: 2.5em;
    border: solid 2px rgb(0, 30, 49);
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 5px; /* Ajusta el espacio a la izquierda */
}

.error-message {
    color: red;
    font-size: 0.8em;
    text-align: left;
}
