

#contenedor{
    background-color: rgb(96, 43, 182);
    width: 600px;
    height: 300px;
    overflow: hidden;
    border: 3px solid rgb(5, 7, 0);
}

#secundario{
    background-color: rgb(178, 224, 9);
    width: 200px;
    height: 200px;
    rotate: 45deg;
    display: inline-block;
    transform: translateX(-150px);
    
}
#padre{
    margin-top: 30px;
    background-color: rgb(38, 100, 100);
    width: 700px;
    height: 500px;
    border: 3px solid rgb(7, 0, 1) ;

}
.hijo {
    background-color: rgb(224, 219, 219);
    width: 100px;
    height: 100px;
    display: inline-block;
}
.uno {
    transform: translateY(90px) translateX(80px);
}
.dos{
    transform: translateY(330px) translateX(-25px) ;
}
.tres{
    transform: translateX(290px) translateY(85px);
}
.cuatro{
    transform: translateX(190px)  translateY(330px) ;
}