*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contenedor{
    max-width: 350px;
    width: 70%;
    margin: auto;
    background-color:#f7d2a3;
    border-radius: 10px;
    padding: 0.5em ;
    text-align: center; 
    color:  rgb(00, 30, 49);
    
}
h2{
    padding: 0.5em;
    text-align: center;
    color:  rgb(00, 30, 49);
}
.input-box,
.newsletter,
.btn {
    padding: 0.5em;
}
.btn{
    background-color: #f77f00;
    border-radius: 10px;
    border: 2px solid  rgb(00, 30, 49);
    color:  rgb(00, 30, 49);
    
}
.btn:hover{
    background-color: rgb(00, 30, 49);
    border-radius: 10px;
    border: 2px solid #f77f00;
    color: white;
    
}
.login-register{
    padding: 0.5em;
}
.input-box{
    min-width: 50px;
    width: 100%;
    outline: none;

}

.input-box input{
    
    width: 70%;
    height: 2.5em;
    border: solid 2px rgb(00, 30, 49);
    border-radius: 5px;
    position: relative;
}
.icon-eye{
    position: absolute;
    transform: translateY(10px) translateX(-30px);
    cursor: pointer;  
}
.input-box label{
    display: inline-block;
}
.input-box {
    margin-bottom: 10px;
} 
.error-message{
    color: red;
}